<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/cosmo/bootstrap.min.css">
    <link href="css/dark.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/04025b3a9f.js"></script>
    <title>Hennamann's Mods - Mods</title>
</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <header class="masthead clearfix">
                    <div class="inner">
                        <h1 class="masthead-brand">Hennamann's Mods</h3>
                        <nav class="nav nav-masthead">
                            <a class="nav-link" href="/">Home</a>
                            <a class="nav-link active" href="/mods">Mods</a>
                            <a class="nav-link" href="https://maven.henrikstabell.com">Maven</a>
                            <a class="nav-link" href="https://tc.henrikstabell.com/">TeamCity</a>
                            <a class="nav-link" href="https://minecraft.curseforge.com/members/Hennamann/projects">CurseForge</a>
                        </nav>
                    </div>
                </header>
                <div class="container" id="main-content">
                    <div class="row row-offcanvas-right flex-wrap">
                            <h1 class="float-lg-left">My Mods</h1>
                        <div class="col-sm-12" id="sidebar-left">
                            <div class="card">
                                <div class="card-header">Mist Core</div>
                                <div class="card-body text-left">
                                <p>A small library for adding fog/mist to biomes easily. Creates the same fog effect found in dimensions but in biomes.
                                   The mod adds no content on it's own and is intended to be used alongside other mist mods, like Mist Biomes.
                                </p>
                                <a class="btn btn-primary btn-lg" href="/mods/mistcore/releases" role="button">Releases</a>
                                <a class="btn btn-primary btn-lg" href="https://minecraft.curseforge.com/projects/mist-core" role="button">CurseForge Project</a>
                                <a class="btn btn-primary btn-lg" href="https://github.com/Hennamann/Mist-Core/issues" role="button">Issues</a>
                                <a class="btn btn-primary btn-lg" href="https://github.com/Hennamann/Mist-Core" role="button">Source</a>
                                <a class="btn btn-primary btn-lg" href="https://mistdocs.henrikstabell.com" role="button">Developer Documentation</a>
                            </div>
                                </div>
                            <div class="card">
                                <div class="card-header">Mist Biomes</div>
                                <div class="card-body text-left">
                                <p>Adds several "mistified" biomes from vanilla Minecraft like Mist Plains, Mist Forest, Mist Deserts. This mist is
                                    for the time being mainly cosmetic but the plan is to add both utility and danger to the mist in later versions of the mod.
                                </p>
                                <a class="btn btn-primary btn-lg" href="/mods/mistbiomes/releases" role="button">Releases</a>
                                <a class="btn btn-primary btn-lg" href="https://minecraft.curseforge.com/projects/mist-biomes" role="button">CurseForge Project</a>
                                <a class="btn btn-primary btn-lg" href="https://github.com/Hennamann/Mist-Biomes/issues" role="button">Issues</a>
                                <a class="btn btn-primary btn-lg" href="https://github.com/Hennamann/Mist-Biomes" role="button">Source</a>
                                </div>
                            </div>
                            <div class="card">
                                    <div class="card-header">Wasteland Reborn</div>
                                    <div class="card-body text-left">
                                    <p>The classic Wasteland mod ported from 1.10.2 to 1.11.2 and 1.12.2 with several improvements and new features and way more
                                        configuration options for modpack makers and the like. Makes for a real challenge in Minecraft survival especially if you combine
                                        it with mods like Tough as Nails.
                                    </p>
                                    <a class="btn btn-primary btn-lg" href="/mods/wasteland/releases" role="button">Releases</a>
                                    <a class="btn btn-primary btn-lg" href="https://minecraft.curseforge.com/projects/wasteland-reborn" role="button">CurseForge Project</a>
                                    <a class="btn btn-primary btn-lg" href="https://github.com/Hennamann/Wasteland/issues" role="button">Issues</a>
                                    <a class="btn btn-primary btn-lg" href="https://github.com/Hennamann/Wasteland" role="button">Source</a>
                                    </div>
                            </div>
                            <div class="card nmclc">
                                    <div class="card-header">NMCLC (NoMoreCapsLockCommands)</div>
                                    <div class="card-body text-left">
                                    <p>Really simple mod for solving a luxury problem;
                                        It converts commands written in uppercase to lowercase for those situations where you unintentionally left
                                        the capslock key on when typing in a command.
                                    </p>
                                    <a class="btn btn-primary btn-lg" href="/mods/nmclc/releases" role="button">Releases</a>
                                    <a class="btn btn-primary btn-lg" href="https://minecraft.curseforge.com/projects/nmclc" role="button">CurseForge Project</a>
                                    <a class="btn btn-primary btn-lg" href="https://github.com/Hennamann/NMCLC-Mod/issues" role="button">Issues</a>
                                    <a class="btn btn-primary btn-lg" href="https://github.com/Hennamann/NMCLC-Mod" role="button">Source</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <footer class="mastfoot">
                    <div class="inner">
                        <p>Copyright © Ole Henrik Stabell 2018
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
</body>
</html>