<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/cosmo/bootstrap.min.css">
    <link href="../../css/dark.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
    crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/04025b3a9f.js"></script>
    <script src="../../js/mods/mb_maven_fetcher.js"></script>
    <title></title>
</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <header class="masthead clearfix">
                    <div class="inner">
                        <h1 class="masthead-brand">Hennamann's Mods</h3>
                        <nav class="nav nav-masthead">
                            <a class="nav-link" href="/">Home</a>
                            <a class="nav-link active" href="/mods">Mods</a>
                            <a class="nav-link" href="https://maven.henrikstabell.com">Maven</a>
                            <a class="nav-link" href="https://minecraft.curseforge.com/members/Hennamann/projects">CurseForge</a>
                        </nav>
                    </div>
                </header>
                <div class="container" id="main-content">
                        <h1 class="float-lg-left">Releases</h1>
                        <div class="alert alert-info float-lg-left" role="alert">Only releases for the latest supported Minecraft version are listed here, for older releases use CurseForge or the Maven!</div>
                        <div class="alert alert-warning float-lg-left" role="alert">The releases listed on this page are not considered stable, use them at your own risk!</div>
                        <div class="btn-group float-lg-right" role="group">
                                <a href="https://minecraft.curseforge.com/projects/mist-biomes/files" class="btn btn-secondary can-hide"><span class="fa fa-download"></span> Get stable releases on CurseForge</a>
                                <a href="https://maven.henrikstabell.com/com/henrikstabell/mistbiomes" class="btn btn-secondary"><span class="fa fa-external-link"></span> Browse for older releases on the Maven</a>
                                </div>
                                <div class="clearfix"></div>
                                <table class="table">
                                        <thead class="thead-default">
                                          <tr>
                                            <th width="25%">Version</th>
                                            <th width="25%">Minecraft Version</th>
                                            <th width="20%" class="can-hide">Released by</th>
                                            <th width="20%" class="can-hide">Status</th>
                                            <th width="10%" class="can-hide"><center>Download</center></th>
                                          </tr>
                                        </thead>
                                        </table>
                            </div>
                <footer class="mastfoot">
                    <div class="inner">
                        <p>Copyright © Ole Henrik Stabell 2018
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
</body>
</html>